@use "@angular/material" as mat;
@use "./custom-theme.scss" as custom-theme;
@include mat.all-component-themes(custom-theme.$app-theme);
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "ngx-toastr/toastr";
@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.font-italic {
  font-style: italic;
}

.font-weight-bold {
  font-weight: 900;
  font-size: 1.2rem;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
